#presentacion {
  padding: 2rem var(--pd-x);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 10rem;
}
#presentacion h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
#presentacion p {
  font-size: var(--fz-lg);
  font-weight: 500;
  margin-bottom: 0.5rem;
}
#presentacion > div {
  flex-basis: 40rem;
  flex-grow: 1;
  text-align: center;
}
#presentacion > figure {
  flex-basis: 0;
  flex-grow: 999;
  width: 40%;
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}
#presentacion > figure > div {
  border: 4px solid var(--violet-color);
  width: 400px;
  height: auto;
}
#presentacion > figure img {
  width: 100%;
  height: 100%;
  transition: var(--tr);
}
#presentacion > figure > div:hover img {
  transform: translateX(-10px) translateY(-10px);
}
/* Toble */
@media screen and (min-width: 767px) {
  #presentacion > figure {
    justify-content: start;
  }
}
@media screen and (min-width: 1026px) {
  #presentacion > figure {
    margin: 0;
    justify-content: center;
  }
}
